.speech{
    font-family:'Lucida Sans Regular', sans-serif;
    font-size: 20px;
    color:black;
}

.stage-direction{
    font-family:'Verdana', sans-serif;
    font-size: 20px;
    color:black;
    background-color:darkgoldenrod;
}

.stage-direction:hover{ 
    color:lightskyblue; 
    background-color: crimson;}

.name{
    font-family:'Georgia', serif;
    font-size: 10px;
    color:black;
}

.MRS-ALLONBY{
    color:purple;
}

.LADY-STUTFIELD{
    color:lime;
}

.LADY-HUNSTANTON{
    color:red;
}

.LADY-CAROLINE{
    color:teal;
}

th, td {
    border: 1px solid limegreen;
    height: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

table {
    width: 60%;
    margin: 10px;
}

th {
    background-color: mediumblue;
    color: mintcream;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

